$black: #1b1f24;
$white: #ffffff;

$gray-10: #f6f8fa;
$gray-20: #eaeef2;
$gray-30: #d0d7de;
$gray-40: #afb8c1;
$gray-50: #8c959f;
$gray-60: #6e7781;
$gray-70: #57606a;
$gray-80: rgb(66, 74, 83);
$gray-80-hover: rgb(59, 66, 74);
$gray-90: rgb(50, 56, 63);
$gray-100: #24292f;

$blue-10: #ddf4ff;
$blue-20: #b6e3ff;
$blue-30: #80ccff;
$blue-40: #54aeff;
$blue-50: #218bff;
$blue-60: #0969da;
$blue-60-hover: rgb(7, 93, 197);
$blue-70: rgb(5, 80, 174);
$blue-80: #033d8b;
$blue-90: #0a3069;
$blue-100: #002155;

$green-10: #dafbe1;
$green-20: #aceebb;
$green-30: #6fdd8b;
$green-40: #4ac26b;
$green-50: #2da44e;
$green-60: #1a7f37;
$green-70: #116329;
$green-80: #044f1e;
$green-90: #003d16;
$green-100: #002d11;

$yellow-10: #fff8c5;
$yellow-20: #fae17d;
$yellow-30: #eac54f;
$yellow-40: #d4a72c;
$yellow-50: #bf8700;
$yellow-60: #9a6700;
$yellow-70: #7d4e00;
$yellow-80: #633c01;
$yellow-90: #4d2d00;
$yellow-100: #3b2300;

$orange-10: #fff1e5;
$orange-20: #ffd8b5;
$orange-30: #ffb77c;
$orange-40: #fb8f44;
$orange-50: #e16f24;
$orange-60: #bc4c00;
$orange-70: #953800;
$orange-80: #762c00;
$orange-90: #5c2200;
$orange-100: #471700;

$red-10: #ffebe9;
$red-20: #ffcecb;
$red-30: #ffaba8;
$red-40: #ff8182;
$red-50: #fa4549;
$red-60: #cf222e;
$red-70: #a40e26;
$red-80: #82071e;
$red-90: #660018;
$red-100: #4c0014;

$purple-10: #fbefff;
$purple-20: #ecd8ff;
$purple-30: #d8b9ff;
$purple-40: #c297ff;
$purple-50: #a475f9;
$purple-60: #8250df;
$purple-70: #6639ba;
$purple-80: #512a97;
$purple-90: #3e1f79;
$purple-100: #2e1461;

$pink-10: #ffeff7;
$pink-20: #ffd3eb;
$pink-30: #ffadda;
$pink-40: #ff80c8;
$pink-50: #e85aad;
$pink-60: #bf3989;
$pink-70: #99286e;
$pink-80: #772057;
$pink-90: #611347;
$pink-100: #4d0336;

$coral-10: #fff0eb;
$coral-20: #ffd6cc;
$coral-30: #ffb4a1;
$coral-40: #fd8c73;
$coral-50: #ec6547;
$coral-60: #c4432b;
$coral-70: #9e2f1c;
$coral-80: #801f0f;
$coral-90: #691105;
$coral-100: #510901;
