@import "token.scss";

.form-select {
  border: none;
  padding-left: $spacing-05;
  padding-right: calc($spacing-03 + 16px + $spacing-05);

  background-position: right $spacing-05 center;

  border-radius: 4px;
  font-size: $body-compact-01;
  height: 3rem;
  transition: color 0.15s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.15s cubic-bezier(0.2, 0, 0.38, 0.9),
    border-color 0.15s cubic-bezier(0.2, 0, 0.38, 0.9),
    box-shadow 0.15s cubic-bezier(0.2, 0, 0.38, 0.9);
  color: $text-primary;
}

.form-select:focus {
  box-shadow: none;
  box-shadow: 0 0 0 2px $focus inset;
}

.form-check-label {
  font-size: 14px;
}

.form-check-input {
  margin-top: 0.27em;
}

.form-check-input:checked {
  background-color: $blue-60;
  border-color: $blue-60;
}
