@import "token.scss";

/* Left Panel */

.panel {
  background-color: $background--gray;
}

/* Link */
.nav-pills .nav-link {
  text-decoration: none;

  padding: 10px 16px;
  min-height: 44px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $text-secondary;
}

.nav-pills .nav-link:hover {
  background-color: $background-hover;
  color: $text-primary;
}

.nav-pills .nav-link:active {
  background-color: $background-active;
  color: $text-primary;
}

.nav-pills .nav-link.active {
  background-color: $background-selected;
  color: $text-primary;
}

.nav-pills .nav-link.active:active {
  background-color: $background-active;
  color: $text-primary;
}
