@import "token.scss";

/* Left Panel */

.panel {
  flex: 0 0 16rem;
  background-color: $background--gray;
}

/* Link */
.nav-pills .nav-link {
  text-decoration: none;
  padding: 0;
  border: 0;
  padding-left: $spacing-05;
  padding-right: $spacing-05;
  line-height: 48px;
  min-height: 48px;
  transition: all 0.07s cubic-bezier(0.2, 0, 0.38, 0.9);
  font-weight: 600;
  font-size: $heading-compact-01;
  color: $text-secondary;
}

.nav-pills .nav-link:hover {
  background-color: $background-hover;
  color: $text-primary;
}

.nav-pills .nav-link:active {
  background-color: $background-active;
  color: $text-primary;
}

.nav-pills .nav-link.active {
  background-color: $background-selected;
  color: $text-primary;
}

.nav-pills .nav-link.active:active {
  background-color: $background-active;
  color: $text-primary;
}
